/* .bg-dark {
  background-color: #4cb7e1 !important;
}

a.sidenav-button {
  display: inline;
  color: rgba(0, 0, 0, 0.5);
  margin-right: 10px;
  transition: all 0.3s ease 0s;
}

a.sidenav-button:hover {
  color: rgba(255, 255, 255, 0.8);
}
.navbar .photo {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  vertical-align: middle;
  overflow: hidden;
}

.navbar .photo img {
  width: 100%;
} */
