<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="sidenav-button"
    ><i
      class="fas fa-bars"
      aria-hidden="true"
      (click)="inputSideNav.toggle()"
    ></i
  ></a>
  <a class="navbar-brand">Cloud C19</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
        >
          <div class="photo">
            <img alt="Profile photo" src="../../../../assets/profile.png" />
          </div>
          Dawid Sieczka
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item">Profile</a>
          <a class="dropdown-item">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav> -->

<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="inputSideNav.toggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Smart Zone</span>
  <span class="example-spacer"></span>
</mat-toolbar>
