<div class="sidenav">
  <div class="logo">
    <a href="/" class="simple-text logo-mini">
      <div class="logo-img"><img src="../../../assets/logo.png" /></div>
    </a>
    <a href="/" class="simple-text logo-normal"> Smart Zone </a>
  </div>
  <ul class="nav">
    <li class="active">
      <a routerLink="/"><i class="fas fa-chart-line"></i>Dashboard</a>
    </li>
    <li>
      <a routerLink="/another-page"><i class="fas fa-random"></i>Next page</a>
    </li>
    <li>
      <a routerLink="/other-route"
        ><i class="fas fa-money-check-alt"></i> Another page</a
      >
    </li>
  </ul>
</div>
