.title {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Użyj align-items zamiast align-content */
  height: 100vh;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Przykładowa wysokość dla drugiego div'a */
  background-color: #000000; /* Przykładowy kolor tła */
}

all {
  background-color: rgb(13, 60, 247, 0.2);
}
